.movie-poster{
  height:350px;
  width:340px;
  object-fit: cover;
}
.movie-poster:hover{
  transform: scale(1.15);
  transition: 0.5s ease-in-out;
}
.movie-specs{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.movie-container{
  width:340px;
  border: 2px solid white;
  overflow: hidden;
  padding: 10px;
  background-color:black;
  color:white;
  border-radius: 10px;
}
.list{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  padding-top: 25px;
  gap: 4rem;
}
body{
  background-color: black;
}
h1{
  text-align: center;
  color: white;
  background-color: red;
  font-family: 'Staatliches', cursive;
  font-size:4rem;
}
.addmovielist{
  display: flex;
  justify-content: space-evenly;
  padding:25px;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
nav>div{
  padding: 10px;
  border: 3px solid white;
  background-color: aliceblue;
  width: 15%;
}
nav{
  margin-left: 20px;
}
.game-box{
  height: 8rem;
  width: 8rem;
  border: 3px solid red;
  border-radius: 1rem;
  color: black;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
}
.game-box:hover{
  background-color:rgb(200, 198, 198);
}
.board{
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: wheat; */
  width: min-content;
  padding-left: 37%;
}
h2{
  color: white;
  text-align: center;
}
.game-box{
  text-align: center;
}
.buttons-tag{
  display: grid;
  place-items: center;
}
.xbtn,.obtn{
  display: grid;
  text-align: center;
  font-family:'Staatliches', cursive;
  font-size: 2rem;
}
.reset{
  display: grid;
}
span{
  color:blue;
}
.theme{
  min-height: calc(100vh - 64px);
}
